<p style="color: green"><%= notice %></p>
<h1>Restaurants</h1>
<div id="restaurants">
  <div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Restaurant name</th>
          <th scope="col">Owner</th>
        </tr>
      </thead>
      <tbody>
        <% @restaurants.each do |restaurant| %>
          <%= render restaurant %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<%= link_to "New restaurant", new_restaurant_path %>
